.profile-background {
    background-color: #181818;
}

.nav-background {
    background-color: #121212;
}

.bg-dark-content {
    background-color: #151616;
}

.btn-violet,
.bg-violet {
    background-color: #7954A1 !important;
}

.text-violet {
    color: #7954A1;
}

.border-violet {
    border-color: #7954A1;
}

.text-white2 {
    color: silver;
}